@import "tailwindcss";


html{
    scroll-behavior: smooth;
}

body{
background: white;
}

[cmdk-item] {
  padding: 12px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 4px;
}

[cmdk-item]:hover {
  background: #f5f5f5;
}

[cmdk-input] {
  width: 100%;
  font-size: 16px;
  padding: 12px;
  outline: none;
  border: none;
}